
@{
    ViewData["Title"] = "AboutUs";
}

<h1>@ViewData["Title"]</h1>


<div id="aboutus">
    <div class="bg-light py-1">
        <div class="container py-3 px-5">

            <div class="row mb-4">
                <div style="width:100%">
                    <center>
                        <h2 class="w3-wide w3-center" color:#4B5265;" style="margin-top:100px">OUR TEAM</h2>
                    </center>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5 list-inline">
                    <div class="img">
                        <div class=" rounded shadow-sm py-5 px-3" style="background-color:#BBBFC7;">
                            <img src="~/image/namwan.jpg" alt="Responsive Image" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm ">
                            <h5 class="mb-0" style="color:#5A6A89;">NAMWAN</h5><span class="small text-uppercase text-muted">ภัทรสุดา จันแสงศรี</span>
                            <div>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item"><a target="_blank" href="https://line.me/ti/p/ofZnIlv7Qc" class="social-link"><img src="~/image/line.png" width="42px" height="42px"></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/nwaamnpattara" class="social-link"><img src="~/image/facebook.png" width="43px" height="42px"></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/nwaamn/" class="social-link"><img src="~/image/ig.png" width="43px" height="42px"></a></li>
                                    <li style="color:#5A6A89;">Tel.091-276-5654</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5 list-inline">
                    <div class="img">
                        <div class=" rounded shadow-sm py-5 px-3" style="background-color:#BBBFC7;">
                            <img src="~/image/champ.jpg" alt="Responsive Image" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0" style="color:#5A6A89;">CHAMP</h5><span class="small text-uppercase text-muted">ภาณุพงศ์ วงศ์สายสุวรรณ</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a target="_blank" href="https://line.me/ti/p/f13MQXhEMS" class="social-link"><img src="~/image/line.png" width="42px" height="42px"></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/search/top?q=phanupong%20wongsaisuwon" class="social-link"><img src="~/image/facebook.png" width="43px" height="42px"></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/champ_momo2/" class="social-link"><img src="~/image/ig.png" width="43px" height="42px"></a></li>
                                <li style="color:#5A6A89;">Tel.084-131-7603</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5 list-inline">
                    <div class="img">
                        <div class="rounded shadow-sm py-5 px-3" style="background-color:#BBBFC7;">
                            <img src="~/image/pure.jpg" alt="Responsive Image" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0" style="color:#5A6A89;">PURE</h5><span class="small text-uppercase text-muted">ศรัณย์ ชมสุวรรณ</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a target="_blank" href="https://line.me/ti/p/wgFZRNmU3W" class="social-link"><img src="~/image/line.png" width="42px" height="42px"></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/search/top/?q=puresr%20chomsuwan" class="social-link"><img src="~/image/facebook.png" width="43px" height="42px"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/ppure.srr/" class="social-link"><img src="~/image/ig.png" width="43px" height="42px"></i></a></li>
                                <li style="color:#5A6A89;">Tel.061-925-9541</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5 list-inline">
                    <div class="img">
                        <div class=" rounded shadow-sm py-5 px-3" style="background-color:#BBBFC7;">
                            <img src="~/image/fern.jpg" alt="Responsive Image" width="100" class="img-fluid mb-3 img-thumbnail rounded-circle shadow-sm">
                            <h5 class="mb-0" style="color:#5A6A89;">FERN</h5><span class="small text-uppercase text-muted">อรอนงค์ กองกาไว</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a target="_blank" href="https://line.me/ti/p/bE_LnVkAef" class="social-link"><img src="~/image/line.png" width="42px" height="42px"></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/search/top/?q=onanong%20kongkawai" class="social-link"><img src="~/image/facebook.png" width="43px" height="42px"></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/fernnnw/" class="social-link"><img src="~/image/ig.png" width="43px" height="42px"></a></li>
                                <li style="color:#5A6A89;">Tel.095-962-6948</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End-->

            </div>

        </div>
    </div>
</div>


